<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<h3>Creat a new account</h3>
<form action="/users/signup" method="POST">

    <label for="uname">User name:</label><br>
    <input type="text" id="uname" name="userName"><br>

    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email"><br>

    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password"><br><br>

    <input type="submit" value="Submit">
</form>
<br>

<br>
<h3>Log in</h3>
<form action="/users/login" method="POST">
    <label for="email">Enter your email:</label><br>
    <input type="email" id="email" name="email"><br>

    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password"><br><br>

    <input type="submit" value="log in">
</form>


<h3>Search for parking bays</h3>
<form action="/parkingBays/find" method="GET">
    <label for="lat">Latitude:</label><br>
    <input type="text" id="lat" name="lat"><br>

    <label for="lon">Longitude:</label><br>
    <input type="text" id="lon" name="lon"><br><br>

    <input type="submit" value="Find the parking bays">
</form>


<br>
<form action="/parkingBays" method="GET">
    <input type="submit" value="Show all parking bays">
</form>


<br>
<h3>Update parking bays database</h3>
<form action="/update" method="GET">
    <input type="submit" value="update">
</form>


<br>
<h3>Add to favorite</h3>
<form onsubmit="this.action='/user/favorites/:'+document.getElementById('id').value;" method="POST">
    <label for="tag">Create a tag for this bay:</label><br>
    <input type="text" id="tag" name="tag"><br>

    <label for="id">Enter the bay_id:</label><br>
    <input type="text" id="id" name="id"><br><br>

    <input type="submit" value="Add to favorite">
</form>


<br>
<h3>View favorite parking bays</h3>
<form action="/user/favorites" method="GET">
    <input type="button" value="View favorite parking bays">
</form>